# Byte-compiled / optimized / DLL files

asymmirai_pipeline/
# radiomics/
data\embed\tables\
data/embed/tables/
results/
*.sh
*.results
raw_data

.DS_Store
__pycache__/
*.py[cod]
*$py.class
metadata
*.png
*.swp
*.swo
*.swn
secrets/
# *.csv
# Logs
*.out
*.pdf
.vscode

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
torchenv2/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# run results
/snapshot
/logs
# /snapshots
# snapshots
training_preds

# intellij
.idea
*.iml
data/embed/asymirai_input/EMBED_OpenData_metadata_screening_2D_complete_exams_CLEANED_4VIEW.csv
data/embed/asymirai_input/EMBED_OpenData_metadata_screening_2D_complete_exams.csv
data/embed/example/EMBED_OpenData_clinical_reduced_top100.csv
data/embed/example/AWS_Open_Data_Clinical_Legend_top100.csv
data/embed/example/EMBED_OpenData_clinical_top100.csv
data/embed/example/EMBED_OpenData_metadata_reduced_top100.csv
data/embed/example/EMBED_OpenData_metadata_top100.csv
radiomics/1.2.826.0.1.3680043.8.498.29370625550190693487008296963009897535.dcm
radiomics/1.2.826.0.1.3680043.8.498.53694877347899790994326073022283988928.dcm
snapshots/mgh_mammo_cancer_MIRAI_Transformer_Jan13_2020.p
snapshots/mgh_mammo_MIRAI_Base_May20_2019 (1).p
data/embed/asymirai_input/all_s3_keys.txt
snapshots/callibrators/MIRAI_FULL_PRED_RF.callibrator.p
snapshots/callibrators/Mirai_pred_rf_callibrator_mar12_2022.p
data/example_dicoms/1.2.826.0.1.3680043.8.498.29370625550190693487008296963009897535.dcm
data/example_dicoms/1.2.826.0.1.3680043.8.498.53694877347899790994326073022283988928.dcm
